<%= turbo_frame_tag(dom_id(question), hidden: true, data: { formaction: next_survey_question_path(survey_id:, id: question.id) }) do %>
  <section>
    <%= render(question.field_component.new(question:, description:)) %>

    <hr>

    <%= link_to('戻る', root_path, class: 'visit-welcome', hidden: true, data: { turbo: false }) %>
    <%= button_tag('戻る', class: 'show-prev-question', formaction: back_survey_question_path(survey_id:, id: question.id), formnovalidate: true) %>
    <%= button_tag('次へ', data: { action: 'click->survey-profiles#showNextQuestionWithCurrentQuestionValid:prevent' }) %>
  </section>
<% end %>
