<%= help_message(title: "今後の予定は次のとおりです。\n完了したらチェックを入れてください。") %>

<% tasks_with_category.each do |category, tasks| %>
  <section class="todo">
    <h3><%= tasks.first.about_when %></h3>

    <%= render(Task::Component.with_collection(tasks)) %>
  </section>
<% end %>

<section class="done">
  <h3>完了分</h3>

  <%= help_message(title: '完了した予定はありません。') if done_tasks.blank? %>

  <% done_tasks.each do |task| %>
    <label class="with-checkbox">
      <%= check_box(:task, :done, checked: true, disabled: true) %>
      <%= task.title %>
    </label>
  <% end %>
</section>
