<hgroup>
  <p><%= description %></p>
  <h2><%= subject %></h2>
  <p></p>
</hgroup>

<div class="<%= choice_wrapper %>">
  <%= fields_for(record_name) do |f| %>
    <% choices.each do |value, caption| %>
      <%= f.label(:value, value:, class: 'with-radio') do %>
        <%= f.radio_button(:value, value, required:, data: { action: choice_action }) %>
        <%= caption %>
      <% end %>
    <% end %>
  <% end %>
</div>
