<!DOCTYPE html>
<html lang="ja">

<%= render(partial: '/layouts/head') %>

<body>
  <header>
    <h1>雇用保険給付の相棒</h1>
    <%= image_tag('logo.svg', alt: 'ロゴ', width: '300px') %>
  </header>
  <main class="container">
    <%= yield %>
  </main>
  <footer>
    <%= link_to_terms_of_service %>
    <%= link_to_privacy_policy %>
    <%= render(DeleteUserButton::Component.new(user: Current.user)) %>
    <p></p>
    <p><small>&copy; 2023 maeda-m</small></p>
  </footer>
</body>

</html>
