<!DOCTYPE html>
<html lang="ja">

<%= render(partial: '/layouts/head') %>

<body>
  <header>
    <h1>
      雇用保険給付の相棒
      <%= image_tag('logo.svg', alt: 'ロゴ', width: '300px') %>
    </h1>
  </header>
  <main class="container <%= controller_name_to_css %>">
    <%= yield %>
  </main>
  <footer>
    <nav>
      <ul>
        <li><%= link_to '利用規約', terms_of_service_path, target: '_blank', rel: 'noopener' %></li>
        <li><%= link_to 'プライバシーポリシー', privacy_policy_path, target: '_blank', rel: 'noopener' %></li>
        <li><%= render(DeleteUserButton::Component.new(user: Current.user)) %></li>
      </ul>
    </nav>
    <p><small>&copy; 2023 maeda-m</small></p>
  </footer>
</body>

</html>
