<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">

<%= render(partial: '/layouts/head') %>

<body>
  <header>
    <h1>
      <%= @page_title || image_tag('logo.svg', alt: '雇用保険給付の相棒') %>
    </h1>
  </header>
  <main class="container">
    <%= yield %>
  </main>
  <footer>
    <%= link_to_terms_of_service %>
    <%= link_to_privacy_policy %>
    <%= render(DeleteUserButton::Component.new(user: Current.user)) %>
    <p></p>
    <p><small>&copy; 2023 maeda-m</small></p>
  </footer>
</body>

</html>
